
#ruler-lite__x, #ruler-lite__y {
    background: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 999999999;
}

#ruler-lite__x:hover, #ruler-lite__y:hover {
    cursor: crosshair;
}


#ruler-lite__x {
    height: 15px;
    width: 100vw;
    top: 0;
}


#ruler-lite__y {
    height: 100vh;
    width: 15px;
    left: 0;
}

.rule__x , .rule__y {
    background-color: rgba(46,148,173,0.7);
    position: absolute;
}

.rule__x {
    width: 100vw;
    height: 1px;
    top: 0;
}

.rule__y {
    width: 1px;
    height: 100vw;
    left: 0;
}
